@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

:root{
 --primary-color:#34D399;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding:0rem 1rem;
}

.container-center{
    max-width:600px;
    margin:auto;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-secondary{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);

}